<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shortify|URL Shortener</title>
    <link rel="stylesheet" href="style.css">
    <style>
        body {
            background: linear-gradient(270deg, #05070d, #0d0e17, #131628, #181a32);
            background-size: 800% 800%;
            animation: gradient 10s ease infinite;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }

        h1 {
            color: rgb(243, 243, 249);
            text-align: center;
            word-spacing: 10px;
        }

        p {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: darkgreen;
            text-align: center;
        }

        .navbar {
            background-color: #02010b;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 20px 0;
            border-bottom: 2px solid red;
            border-top: 2px solid red whitesmoke;
            margin-top: 0;
        }

        .navbar img {
            width: 40px;
            height: 40px;
            margin-right: 10px;
            margin-left: 0;
        }

        .navbar h1 {
            margin: 0;
            word-spacing: 5px;
            letter-spacing: 5px;
        }

        .navbar span {
            color: red;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            font-size: 35px;
            letter-spacing: 2px;
        }

        .url-generated {
            background-color: #fff;
            color: #333;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(129, 4, 4, 0.1);
            margin-top: 20px;
            text-align: center;
            max-width: 400px;
         }

        .copy-btn {
            background-color: rgb(6, 1, 30);
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            margin-top: 10px;
            box-shadow: red;
        }

        .copy-btn:hover {
            background-color: darkblue;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 60px;
            /* max-width: 400px; */
        }

        form {
            background-color: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            width: 500px;
            border: 2px solid rgb(190, 3, 3);
            
        }

        label {
            margin-bottom: 10px;
            font-size: 18px;
            color: #333;
            font-weight: 600;
        }

        input[type="text"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            background-color: rgb(6, 1, 30);
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: darkblue;
        }

        table {
            width: 100%;
            max-width: 600px;
            border-collapse: collapse;
            margin-top: 20px;
        }

        table,
        th,
        td {
            border: 1px solid #ddd;
        }

        th,
        td {
            padding: 10px;
            text-align: center;
        }

        th {
            background-color: rgb(6, 1, 30);
            color: white;
        }


        .url-generated  label{
            -webkit-text-fill-color: rgb(56, 48, 48);
            font-weight: 600;

        }
        .container  form label{
            margin-bottom: 10px;
            padding-bottom: 10px;
            color: rgb(63, 3, 3);
            letter-spacing: 2px;
         }
         .container  form input{
            border: 1px solid rgb(81, 4, 4);
         }

    </style>
</head>

<body>
    <nav class="navbar">
        <img src="short_icon.png" alt="Shortify Logo">
        <h1> <span>S</span>ho<span>r</span>ti<span>f</span>y </h1>
    </nav>

    <div class="container">
        <form method="POST" action="/url">
            <label>Enter Your Original URL</label>
            <input type="text" name="url" placeholder="https://example.com" required>
            <button type="submit">Generate</button>
        </form>

        <% if (locals.id) { %>
        <div class="url-generated">
              <label>Generated URL</label>
              <p> <span>http://localhost:7000/url/<%= id %></span></p>
            <button class="copy-btn" onclick="copyToClipboard('http://localhost:7000/url/<%= id %>')">Copy URL</button>
        </div>
        <% } %>

        <% if (locals.urls) { %>
        <table>
            <thead>
                <tr>
                    <th>S. No</th>
                    <th>ShortID</th>
                    <th>Redirect</th>
                    <th>Clicks</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach((url, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.redirectURL %></td>
                    <td><%= url.visitHistory.length %></td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <% } %>
    </div>

    <script>
        function copyToClipboard(text) {
            navigator.clipboard.writeText(text).then(function() {
                alert('URL copied to clipboard!');
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        }
    </script>
</body>

</html>
